@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import "color","hamburger","simple-grid";



.banner {

 background-image: url("/src/img/B1.jpg");
 max-width: 1260px;
 height: 50vh;
 background-size: cover;
 margin-left: auto;
 margin-right: auto;
 display: block;
 border-bottom: medium solid $gold;
 background-position: center top;
 background-repeat: no-repeat;
 margin-bottom: 0;
    
}

.content {
    
color: $white;
max-width: auto;
margin-left: auto;
margin-right: auto;
padding-bottom: 5%;
    
}

.welcome {

    padding-left: 10%;
    padding-top: 5%;
}

.info {

    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 7%;
    padding-top: 3%;
}

.boss {
    background-image: url("/src/img/boss.jpg");
    max-width: 1000px;
    height: 35vh;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: solid;
    border-width: medium;
    border-color: $gold;
}

.main-footer {
    background-color: $black;
    color: $white;
    height: auto;
    padding-top: 2%;
    overflow: hidden;
    text-align: center;
    
    border-top: medium solid $gold;
}

.footer-text {
    font-size: 15px;
}






