@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');
@import "color","navigation","simple-grid","typeography";



.banner {

 background-image: url("/src/img/B1.jpg");
 max-width: 1260px;
 height: 50vh;
 background-size: cover;
 margin-left: auto;
 margin-right: auto;
 display: block;
 border-bottom: medium solid $gold;
 background-position: center top;
 background-repeat: no-repeat;
 margin-bottom: 0;
 margin-top: 0;
 
    
}

.tryhards {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3rem;
    text-align: center;
    color: $red;
    -webkit-text-stroke: 0.1px $gold;
}
    
@media (min-width: 600px) {
    .tryhards {
        font-size: 4.5rem;
    }
}

.community {
    font-size: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: $red;
    -webkit-text-stroke: 0.1px $gold;
}

@media (min-width: 600px) {
    .community {
        font-size: 3rem;
    }
}

.content {
    
color: $white;
max-width: auto;
margin-left: auto;
margin-right: auto;
padding-bottom: 5%;
margin-top: 0;
    
}

.welcome {
    font-family: $Orbitron;
    padding-left: 10%;
    padding-top: 5%;
    margin-top: 0;
    
}

.info {
    
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 7%;
    padding-top: 3%;
}

.boss {
    background-image: url("/src/img/boss.jpg");
    max-width: 1000px;
    height: 35vh;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: solid;
    border-width: medium;
    border-color: $gold;
    margin-bottom: 80px;
}

.main-footer {
    background-color: $black;
    color: $white;
    height: auto;
    padding-top: 2%;
    overflow: hidden;
    text-align: center;
    
    border-top: medium solid $gold;
}

.footer-text {
    font-size: 15px;
}

.youtube-title {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2rem;
    text-align: center;
    color: $red;
    -webkit-text-stroke: 0.1px $gold;
}
    
@media (min-width: 600px) {
    .youtube-title {
        font-size: 3rem;
    }
}

.line-break {
    max-width: 1000px;
    
}






